---
---
// landing-specific global styles
body {
    background-image: 
        url(../images/lines-bg-1.svg),
        url(../images/lines-bg-2.svg),
        url(../images/lines-bg-4.svg);
    background-position:
        center 300px,
        center center,
        center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
header button.menu {
    display: none;
}